body {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    border-bottom: 0.5px solid;
}

a:link.underline {
    border-color: #b2ccf0;
}

.p0 {
    font-size: 136px;
    line-height: 160px;
    font-weight: 200;
    color: #fff;
}

.p1 {
    font-size: 52px;
    line-height: 68px;
    font-weight: 200;
    color: #fff;
}

.p2 {
    font-size: 26px;
    line-height: 46px;
    font-weight: 200;
    color: #333333;
}

.p3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 200;
    color: #a7a7a7;
}

.p4 {
    font-size: 22px;
    line-height: 34px;
    font-weight: 200;
    color: #181818;
}

.p5 {
    font-size: 28px;
    line-height: 44px;
    font-weight: 200;
    color: #fff;
}

.p6 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    color: #181818;
}

.p7 {
    font-size: 12px;
    line-height: 22px;
    font-weight: 300;
    color: #a7a7a7;
    letter-spacing: 2px;
}